.container-atletas-masculinos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
}

.container-atletas-masculinos .atleta {
    width: 15rem;
    margin: 0.5rem;
    
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1025px) {
    .container {
        grid-template-columns: repeat(4, 1fr);
    }
}
